body {
  font-family: Arial, sans-serif;
  margin: 30px;
  background-color: #fef6f0;
}

label, fieldset {
  display: block;
  margin-bottom: 15px;
}

h1 {
  color: darkred;
}

#result {
  background-color: #fff8dc;
  padding: 15px;
  border: 2px solid #c4a484;
}